doctype html
html
    head
        title Inventario por Almacén
    body
        h1 Inventario por Almacén
        table(border="1")
            tr
                th Almacén
                th Producto
                th Stock
            each item in inventario
                tr
                    td= item.almacen
                    td= item.producto
                    td= item.stock